 <!--Logui Soft Acerca De-->
<div class="modal fade" id="modalAcercaDe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div>
                <div class="cabeceraAcercaDe">
                    <div class="text-right" style="position:relative; right:10px; top:10px">
                        <a data-dismiss="modal" aria-label="Close" style="cursor:pointer; color:#fff" title="Salir"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div>
                        <a class="col-md-3 col-sm-4 modalImagen" href="http://www.loguisoft.com" style="cursor:pointer" target="_blank">
                            <img style="height:65px" src="~/img/logo-logui-soft-blanco.png" />
                        </a>
                        <div class="col-md-9 col-sm-8">
                            <div style="color:#fff;" class="text-bold copyRightModal">COPYRIGHT &copy; 2014 - 2023 / RESERVADOS TODOS LOS DERECHOS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body scroloco">
                <div class="row" style="padding-top:7px">
                    <div class="col-md-6 col-sm-6">
                        <div>Última Actualización: <strong class="text-red">20 de Marzo de 2024</strong></div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="versionProducto">Versión del Producto: <strong class="text-red">1.0.0</strong></div>
                    </div>
                </div>

                <div class="hr-lila"></div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div style="margin-bottom:10px"><strong><u>Desarrollado por:</u></strong></div>

                        <div style="margin-top:5px; margin-bottom:10px;margin-left:10px">
                            <div class="text-red text-bold">Audizio, Fernando Esteban</div>
                            <div>Ingeniero en Sistemas de Información - M.P. 2197</div>
                            <div>Teléfono: <a href='tel:0356215451097'>3562-451097</a> - <a href='tel:0356215504057'>3562-504057</a></div>
                        </div>

                        <div style="margin-top:5px; margin-bottom:10px;margin-left:10px">
                            <div class="text-red text-bold">Angüino, Nicolás Alejandro</div>
                            <div>Técnico Sup. en Desarrollo de Software - M.P. 3305</div>
                            <div>Teléfono: <a href='tel:0356215511994'>3562-511994</a> - <a href='tel:0356215504057'>3562-504057</a></div>
                        </div>

                        <div style="margin-top:5px; margin-bottom:10px;margin-left:10px">
                            <div class="text-red text-bold">Martino, Leonel Dario</div>
                            <div>Técnico Sup. en Desarrollo de Software - M.P. (En trámite)</div>
                            <div>Teléfono: <a href='tel:0356215520260'>3562-520260</a> - <a href='tel:0356215504057'>3562-504057</a></div>
                        </div>

                        <div style="margin-top:5px; margin-bottom:10px;margin-left:10px">
                            <div class="text-red text-bold">Lenardon, Mauro Ezequiel</div>
                            <div>Estudiante de Técnico Sup. en Desarrollo de Software</div>
                            <div>Teléfono: <a href='tel:0356215520260'>3562-528142</a> - <a href='tel:0356215504057'>3562-504057</a></div>
                        </div>

                        <div style="margin-top:5px; margin-bottom:10px;margin-left:10px">
                            <div class="text-red text-bold">Fenoglio, Alejandro Hugo</div>
                            <div>Técnico Sup. en Desarrollo de Software - M.P. (En trámite)</div>
                            <div>Teléfono: <a href='tel:0356215520260'>3562-527115</a> - <a href='tel:0356215504057'>3562-504057</a></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <a class="text-center" href="http://www.loguisoft.com" style="cursor:pointer" target="_blank">
                            <img style="height:100%; max-height:310px; margin-top:22px; margin-left: 45px" src="~/img/Editables (2) verde lengua roja.png" />
                        </a>
                    </div>

                    <div class="col-md-12">
                        <div style="margin-top: 5px;"><strong><u>Email de contacto:</u></strong> loguisoft@gmail.com || loguisoft@hotmail.com</div>
                    </div>
                </div>

                <div class="hr-lila"></div>

                <div style="font-size:12px">
                    <div>ADVERTENCIA!! Este programa está protegido por las leyes de Derecho de Autor y otros tratados internacionales.</div>
                    <div>
                        La reproducción o distribución ilícita de este programa, o de cualquier parte del mismo, está penada por la Ley,
                        severas sanciones civiles y penales, y será objeto de todas las acciones judiciales que correspondan.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            