<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>Logui Contable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Agrega aquí otros CSS que necesites -->
</head>
<body class="hold-transition skin-purple sidebar-mini fixed" style="background-color: #ecf0f5;">
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                @await Html.PartialAsync("_Header")
                <div class="container margenDeCelu">

                    <div id="carga" class="cargando ocultar">
                        <div class="preloader">
                            <div class="sk-spinner sk-spinner-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </div>
                    </div>

                    <div id="vista-render">
                        @RenderBody()

                        <div title="Espere..." id="btn-espere" class="btnPosicion2 ocultar">
                            <i style="padding-top:3px" class="glyphicon glyphicon-hourglass"></i>
                        </div>

                        @await Html.PartialAsync("_AcercaDe")
                    </div>

                    <script>
                        function MostrarCarga() {
                            $('#carga').removeClass('ocultar');
                            $('#vista-render').addClass('ocultar');
                        }

                        //oculta simbolo de cargar y muestra contenido
                        function detectarCarga() {
                            $('#carga').addClass('ocultar');
                            $('#vista-render').removeClass('ocultar');
                            $('#vista-usuario').removeClass('ocultar');
                        }
                    </script>

                </div>
            </div>
        }
        else
        {
            <section class="container">
                @RenderBody()
            </section>
        }
    </div>

    <!-- JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Agrega aquí otros JS que necesites -->
    @RenderSection("scripts", required: false)

    @* js usados para el almanaque y busquedas con json *@
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui/datepicker-es.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <script>
        $("#datepicker").datepicker($.datepicker.regional["es"]);
        $('#datepicker').focus(function () {
            this.blur();
        });

        $("#DiasEspera").datepicker($.datepicker.regional["es"]);
        $('#DiasEspera').focus(function () {
            this.blur();
        });

        $("#FechaInicio").datepicker($.datepicker.regional["es"]);


        $("#DatePicker1").datepicker($.datepicker.regional["es"]);
        $('#DatePicker1').focus(function () {
            this.blur();
        });

        $("#DatePicker2").datepicker($.datepicker.regional["es"]);
        $('#DatePicker2').focus(function () {
            this.blur();
        });

        $("#DatePicker3").datepicker($.datepicker.regional["es"]);
        $('#DatePicker3').focus(function () {
            this.blur();
        });

        $("#DatePicker4").datepicker($.datepicker.regional["es"]);
        $('#DatePicker4').focus(function () {
            this.blur();
        });

        function OcultarSubmit() {
            $("#btn-submit").addClass("ocultar");
            $("#btn-espere").removeClass("ocultar");
            setTimeout("MostrarSubmit();", 5000);
        }

        function MostrarSubmit() {
            $("#btn-espere").addClass("ocultar");
            $("#btn-submit").removeClass("ocultar");
        }

        $('a[name=btn-submit]').click(function () {
            MostrarCarga();
        });
    </script>

    <script>
        function maximo(campo, limite) {
            if (campo.value.length >= limite) {
                campo.value = campo.value.substring(0, limite);
            }
        }
    </script>

    <script>
        function Redirigir(url) {
            var link = "../../CuentasCorrientes/NuevoMovimiento?url=" + url;
            location.href = link;
        }
    </script>

    <script src="~/Scripts/autosize.js"></script>

    <script>
        autosize(document.querySelectorAll('textarea'));
    </script>
</body>
</html>