
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        @Html.AntiForgeryToken()

        <nav id="menu">
            <header class="major">
                <h2>Configuración</h2>
            </header>
            <div class="linea-seccion-configuracion"></div>
            <ul class="contact">                         
           
                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Cambiar de Empresa">
                        @User.Identity.Name
                    </a>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            </ul>
        </nav>
    </form>
}