
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">ACCESO RÁPIDO</li>
</ul>

<ul id="botones-menu" class="sidebar-menu" data-widget="tree">
    <li><a href="~/Manage/Index"><i class="fa fa-th-large"></i><span>SELECCIÓN DE EMPRESA</span></a></li>
    <li><a href="~/Personas/Index"><i class="fa fa-user"></i><span> PERSONAS </span></a></li>
    <li><a href="~/Empresas/Index"><i class="fa fa-building-o"></i><span> EMPRESA </span></a></li>
</ul>

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU DE NAVEGACIÓN</li>
</ul>

<ul id="botones-menu" class="sidebar-menu" data-widget="tree">

    <li class="treeview">
        <a href="#">
            <i class="fa fa-file-text"></i> <span>ARCHIVOS</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Actividades/Index"><i class="fa fa-circle-o"></i> Actividades</a></li>
            <li><a href="~/Localidades/Index"><i class="fa fa-circle-o"></i> Localidades</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Plan de Cuenta
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/GruposSubGrupos/Index"><i class="fa fa-circle-o"></i> Grupos y Sub-Grupos</a></li>
                    <li><a href="~/Rubros/Index"><i class="fa fa-circle-o"></i> Sub-Rubros</a></li>
                    <li><a href="~/Subrubros/Index"><i class="fa fa-circle-o"></i> Cuentas</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>GESTIÓN CONTABLE</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/LibroDiario/Index"><i class="fa fa-circle-o"></i> Asiento Diario</a></li>
            <li><a href="~/LibroDiario/BalanceSumasySaldos"><i class="fa fa-circle-o"></i> Balance Sumas y Saldos</a></li>
            <li><a href="~/LibroDiario/DetallesDeCuentas"><i class="fa fa-circle-o"></i> Detalles de Cuentas</a></li>
            <li><a href="~/LibroDiario/Prebalance"><i class="fa fa-circle-o"></i> Prebalance</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Consultas
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/ImportacionExcelAsientos/Index"><i class="fa fa-circle-o"></i> Importación Asientos</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-briefcase"></i><span>COMPRAS</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/FacturasCompras/NuevoComprobanteCompra"><i class="fa fa-circle-o"></i> Nueva Factura Compra</a></li>
            <li><a href="~/FacturasCompras/Index"><i class="fa fa-circle-o"></i> Consultar Facturas</a></li>
            <li><a href="~/FacturasCompras/IVACompras"><i class="fa fa-circle-o"></i> Listado de IVA Compras</a></li>
            <li><a href="~/FacturasCompras/PercepcionesIIBB"><i class="fa fa-circle-o"></i> Listado de Percepciones</a></li>
            <li><a href="~/FacturasCompras/TotalesPorActividadSimple"><i class="fa fa-circle-o"></i> Totales por Actividad</a></li>
            <li><a href="~/FacturasCompras/TotalesSubRubro"><i class="fa fa-circle-o"></i> Totales por Cuentas</a></li>
            <li><a href="~/FacturasCompras/TotalesPorProvincia"><i class="fa fa-circle-o"></i> Totales por Provincia</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i><span>VENTAS</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/FacturasRespaldo/NuevaFacturaRespaldo"><i class="fa fa-circle-o"></i> Comprobante de Respaldo</a></li>
            <li><a href="~/FacturasRespaldo/Index"><i class="fa fa-circle-o"></i> Consultar Facturas</a></li>
            <li><a href="~/FacturasRespaldo/IVAVentas"><i class="fa fa-circle-o"></i> Listado de IVA Ventas</a></li>
            <li><a href="~/FacturasRespaldo/TotalesPorActividadSimple"><i class="fa fa-circle-o"></i> Totales por Actividad</a></li>
            <li><a href="~/FacturasRespaldo/TotalIvaTipoContribuyente"><i class="fa fa-circle-o"></i> Totales por Cond. IVA</a></li>
            <li><a href="~/FacturasRespaldo/TotalesPtoVta"><i class="fa fa-circle-o"></i> Totales con Detalles</a></li>
            <li><a href="~/FacturasRespaldo/TotalesPorProvincia"><i class="fa fa-circle-o"></i> Totales por Provincia</a></li>
        </ul>
    </li>

</ul>
