@page {
    size: A4;
    margin: 0mm 0mm 0mm 0mm;
    background-color: white;
}

.principal {
    width: 200mm;
    height: 279mm;
    margin-left: 0mm;
    margin-top: 0mm;
}

.originalDuplicado {
    color: black;
    background-color: lightgray !important;
    border: 0.5px solid black;
    font-weight: bold;
    width: 190mm;
    height: 9mm;
    margin-top: 4mm;
    -webkit-print-color-adjust: exact;
    font-size: 12pt;
}

.datosEmpresa {
    font-size: 8pt;
    position: relative;
    z-index: 2;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    font-weight: normal;
    float: left;
    width: 95.5mm;
    height: 40mm;
    margin-top: -0.3mm;
    text-align: left;
    padding-left: 2mm;
    border-right: none;
}

.cuadradoLetra {
    position: absolute;
    z-index: 4;
    position: center;
    font-size: 8pt;
    color: black;
    border: 0.5px solid black;
    font-weight: bold;
    float: left;
    text-align: center;
    width: 16mm;
    height: 14mm;
    margin-left: 87mm;
    margin-top: -0.2mm;
}

.lineaDivisoriaCuadroLetra {
    position: absolute;
    z-index: 5;
    position: center;
    float: left;
    margin-top: 14mm;
    margin-left: 95mm;
    height: 25.4mm;
    width: 0mm;
    border: 0.5px solid black;
}

.datosFactura {
    position: relative;
    /*z-index: 3;*/
    z-index: 1;
    font-size: 9pt;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    font-weight: bold;
    float: left;
    text-align: left;
    padding-left: 12mm;
    width: 95mm;
    height: 40mm;
    margin-top: -0.3mm;
    margin-left: -0.5mm;
    border-left: none;
}

.datosFechaServicios {
    font-size: 9pt;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    font-weight: normal;
    float: left;
    width: 190mm;
    height: 7mm;
    margin-top: -0.3mm;
}

.datosClientes {
    font-size: 8pt;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    font-weight: normal;
    float: left;
    width: 190mm;
    height: 21mm;
    margin-top: -0.4mm;
    padding-left: 2mm;
}

.titulosDetalle {
    font-size: 8pt;
    color: black;
    background-color: lightgray !important;
    border: 0.5px solid black;
    font-weight: bold;
    float: left;
    width: 190mm;
    height: 6mm;
    margin-top: -0.3mm;
}

td {
    display: table-cell;
    vertical-align: bottom;
}

.cuerpoDetalle {
    font-size: 8pt;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    font-weight: normal;
    float: left;
    width: 190mm;
    /*height: 147mm;*/
    margin-top: -0.3mm;
    margin-bottom: -0.3mm;
}

.alturaCuerpoDetalle{
    height: 147mm;
}

.lineaDivisoria {
    color: black;
    background-color: lightgray !important;
    border: 0.5px solid black;
    float: left;
    width: 190mm;
    height: 2mm;
    -webkit-print-color-adjust: exact;
}

.titulosTotalesGenerales {
    font-size: 9pt;
    color: black;
    border: 0.5px solid black;
    background-color: lightgray !important;
    font-weight: bold;
    float: left;
    width: 190mm;
    height: 6.5mm;
    margin-top: -0.3mm;
    -webkit-print-color-adjust: exact;
}

.totalesGenerales {
    font-size: 9pt;
    color: black;
    border: 0.5px solid black;
    background-color: white;
    float: left;
    width: 190mm;
    height: 6.5mm;
    margin-top: -0.3mm;
}

.lineaDivisoria2 {
    color: black;
    background-color: lightgray !important;
    border: 0.5px solid black;
    float: left;
    width: 190mm;
    height: 3mm;
    margin-top: -0.3mm;
    -webkit-print-color-adjust: exact;
}

.cae {
    font-size: 9pt;
    color: black;
    border: 0.5px solid black;
    background-color: white;
    float: left;
    width: 190mm;
    height: 24mm;
    margin-top: -0.3mm;
}

.caeQR {
    font-size: 9pt;
    color: black;
    border: 0.5px solid black;
    background-color: white;
    float: left;
    width: 190mm;
    height: 28mm;
    margin-top: -0.3mm;
}

.observaciones {
    font-size: 9pt;
    color: black;
    border: 0.5px solid black;
    background-color: white;
    float: left;
    width: 190mm;
    height: 13mm;
    margin-top: -0.3mm;
    -webkit-print-color-adjust: exact;
}
.comproAut {
    height: 8mm;
    width:190mm;
}
.imagenAfip {
    height: 7mm;
    width:30mm;
}

.imagenEmpresa {
    height: 65pt;
}
.datosPrincipalesEmpresa {
    height:100%;
}


@media print {
    @page {
        size: A4;
        margin: 5mm 5mm 5mm 5mm;
        background-color: white;
    }
    .no-imprimirFactura {
        display: none;
    }
    .principal {
        margin-left:-10mm;
        margin-top:0mm;
    }
    div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }

    .margenDuplicado{
    margin-top:0mm !important;
}
}

.margenDuplicado{
    margin-top:10mm;
}

/* ==========================================================================
Cambiamos las propiedades de las Tablas SOLO para la IMPRESION.
========================================================================== */
table {
    border: none;
    width: 100%;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background: none;
    border: none;
    padding: 0.5mm;
}
table th,
table td {
    padding: 0.5mm;
    border: none;
}