@{
    ViewBag.Title = "Empresas del Usuario";
    Layout = "~/Views/Shared/_LayoutMenuSimple.cshtml";
}

<div class="noImprimirMenu">
    <header id="header" style="margin-bottom:15px">
        <div class="logo"><strong>@ViewBag.Title </strong> </div>
        <div class="icons">
        </div>
    </header>
    <div class="linea-nueva"></div>
</div>

<div id="vista-usuario" class="ocultar">

    <input type="hidden" id="UsuarioID" value="@ViewBag.UsuarioID"/>

    <a id="atras" class="btn-success btnPosicion1" href="~/Administrador/PlanesUsuarios" title="Volver">
        <i class="fa fa-arrow-left"></i>
    </a>

    <div class="form-horizontal">
        <div class="panel panel-default">
            <table id="tablapersonas" class="table table-condensed table-bordered">
                <thead style="background-color: rgba(87, 87, 87, 0.05);">
                    <tr class="barratitulosindex">
                        <th>Empresa</th>
                        <th class='descarto'>Usuarios</th>
                        <th class="text-center">Permiso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="Lista-Empresas"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script>
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#tabla", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }        
</script>

 <script>

        window.onload = BuscarEmpresasUsuarios();

        function BuscarEmpresasUsuarios() {
            MostrarCarga();
            var usuarioID = $('#UsuarioID').val();
            $("#Lista-Empresas").empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("BuscarEmpresasUsuarios")',
                data: { UsuarioID: usuarioID},
            success: function (resultado) {
                var items = resultado;
                $.each(items, function (index, item) {

                    $("#Lista-Empresas").append(
                    "<tr>" +

                        "<td style='color:#656565;width:300px;font-weight:bold'>" + item.RazonSocial + "</td>" +

                        "<td class='descarto text-center'>" + "</td>" +

                        "<td class='text-center'>" + "</td>" +

                        "<td class='tdBotones text-center'>" +
                            "<div>"+
                                "<a title='Ocultar Usuarios' class='btn-tabla btnocultar" + item.EmpresaID + "' onclick='OcultarUsuarios(" + item.EmpresaID + ");'><i class='fa fa-chevron-up'></i></a>" +
                                "<a title='Mostrar Usuarios' class='btn-tabla ocultarCarga btnmostrar" + item.EmpresaID + "' onclick='MostrarUsuarios(" + item.EmpresaID + ");'><i class='fa fa-chevron-down'></i></a>" +
                            "</div>"+
                        "</td>" +

                    "</tr>"

                    );

                    $.each(item.PersonasEmpresa, function (index, usuario) {

                        $("#Lista-Empresas").append(
                            "<tr class='tr" + item.EmpresaID +"'>" +

                            "<td class='descarto' style='color:#656565;'></td>" +

                            "<td class='contactosPersonas' style='font-size:13px'>" + usuario.Email + "</td>" +

                            "<td class='text-center'>" + usuario.PermisoNombre + "</td>" +

                            "<td class='tdBotones text-center'>" + "</td>" +

                            "</tr>"
                        );
                    });

                });

                setTimeout("detectarCarga();", 500);
            },
            error: function (result) {
                alert("No anda");
            }
        });
        }

        function OcultarUsuarios(id) {
            $(".tr" + id).addClass('ocultarCarga');
            $(".btnocultar" + id).addClass('ocultarCarga');
            $(".btnmostrar" + id).removeClass('ocultarCarga');
        };

       function MostrarUsuarios(id) {
           $(".tr" + id).removeClass('ocultarCarga');
           $(".btnocultar" + id).removeClass('ocultarCarga');
           $(".btnmostrar" + id).addClass('ocultarCarga');
        };
</script>

}
